---
# collection "Browse" page
layout: page
custom-foot: js/browse-js.html
---

{{ content }}

<div class="row mb-3 justify-content-center">
    <p class="mb-4"> Here you can find all posters designed by participants and material documenting the exhibition at the PRONI.<br>
        You can use the buttons below to view only the posters created by participants or photos and video from the on-site exhibition. You can also try to filter by poster categories, such as poems or visual art piece. Or use the search bar if you are looking for something specific<br>
        Once you click on an object you have the option to view it in full screen mode and take a look at the metadata. On this object level you can see the poster accompanied by a comment from the person who created it.<br> 
    </p>   
    <br>
     <div class="card mb-3 justify-content-center">
        <div class="card-body">
            <h5 class="card-title">Make a selection</h5>
                 <p class="card-text">
                    <a class="btn btn-sm btn-outline-dark m-1" href="/creativeresponses2pma/browse.html#poster">Posters</a>
                    <a class="btn btn-sm btn-outline-dark m-1" href="/creativeresponses2pma/browse.html#documentation">On-site exhibition impressions</a>
                </p>
        </div>
     </div>


    <div class="col-md-8 text-center"> 
        <form class="" role="search" id="lunrSearch" onsubmit="submitFilter(); return false;">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" id="filterTextBox" placeholder="Filter ... " aria-label="Search"> 
                <button class="btn btn-success" type="submit" title="Filter items" alt="Search" id="filterButton" >Search</button>
                <button class="btn btn-outline-secondary filter" onclick="resetFilter(); return false;" data-filter="">Reset</button>
            </div>
        </form>
        <div class="h2" id="numberOf"></div>
    </div>
    <div class="col-md-2">
        <div class="dropdown">
            <button class="btn btn-secondary mt-1 dropdown-toggle" type="button" id="browseSortButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort by <span class="font-weight-bold" id="sortFilter">Filename</span>
            </button>
            <div class="dropdown-menu browse-sort-menu" aria-labelledby="browseSortButton">
                <button class="dropdown-item browse-sort-item active" data-filter="filename">Filename</button>
                <button class="dropdown-item browse-sort-item" data-filter="title">Title</button>
                {% assign sort_options = site.data.config-browse | where_exp: 'i','i.sort_name != nil' %}
                {% for o in sort_options %}
                <button class="dropdown-item browse-sort-item" data-filter="{{ o.field | escape }}">{{ o.sort_name }}</button>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div id="loadingIcon" class="text-center">
    <div class="spinner-border text-dark" role="status"><span class="visually-hidden">Loading...</span></div>
</div>

<div class="row" id="browseItems"></div>
